*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(21, 1, 26);
}

h1{
    text-align: center;
    margin-top: 3vh;
}
.background{
    margin-left: 50%;
    transform: translate(0%, 0);
    height: 80vh;
    width: 50vh;
}
.frame{
    width: 75%;
    height: 75%;
    background-color: rgba(49, 49, 49, 0.8);
    border-radius: 55px;
    text-align: center;
}
#calcTitle{
    color: rgb(255, 255, 255);
    font-size: 200%;
}
#resultados{
    text-align: right;
    font-size: 250%;
    display: inline-block;
    background-color: white;
    width: 80%;
    padding: 17px;
}

.keyboard{
    margin-left: 50%;
    transform: translate(-50%,0%);
    display: inline-block;
    
}

.btn{
    color: white;
    background-color: rgb(105, 104, 104);
    width: 7vh;
    height: 7vh;
    font-size: 100%;
    margin: 3px;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color: black;
    border: solid 3px white;
}
